# Configured outputs
Makefile
src/defs.hpp

# Object and binary directories
obj/
bin/

# Compiled object files
*.slo
*.lo
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Compiled static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
athena

# Athena output files
*.tab
*.vtk
*.athdf*
*.hst
*.rst
meshtest.dat

# Visualization package files
.smhist

# Mac OS metadata
.DS_Store

# editor temp files
*~
*.swp

# Gcov: GCC coverage testing tool- data files
*.gcno
*.gcda

# Gcov log files
*.gcov

# Lcov: graphical frontend for Gcov- tracefiles
*.info

# genhtml test case description format produced by gendesc
*.desc

src/pgen/disk_VSI.cpp
src/pgen/disk_RWI_2D.cpp
src/pgen/disk_3d_mhd_dust.cpp
src/pgen/disk_planet_dust_cylindrical.cpp
src/pgen/disk_planet_dust_spherical.cpp
src/pgen/kh_dust.cpp
src/pgen/disk_RWI_2D.cpp
src/pgen/streaming_stratified.cpp
src/pgen/disk_streaming_cylindrical.cpp
src/pgen/dmr_dust.cpp
src/pgen/dusty_kh.cpp
src/pgen/visc_dustfluids.cpp
mac_configure.sh
shell_configure.sh
src/pgen/ssheet_RWI_dust.cpp
src/pgen/ssheet_planet_dust.cpp
src/pgen/ssheet_planet_dust_selfgravity.cpp
